.cabecalho {
    background-color: #fff1;
}

.cabecalho .salas:hover .lista-suspensa-salas {
    display: block;
}

.cabecalho .lista-suspensa-salas {
    display: none;
    position: absolute;
    width: max-content;
    padding: 15px;
    border-radius: 0 0 0 10px;
    right: 0;
    background-color: #45484f;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.3);
}

.cabecalho .lista-suspensa-salas .label {
    font-weight: bold;
}

.cabecalho .lista-suspensa-salas ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.cabecalho .lista-suspensa-salas li {
    cursor: pointer;
}

.cabecalho .lista-suspensa-salas li.sala-atual {
    color: var(--function-color);
}

.cabecalho .lista-suspensa-salas li:hover {
    color: var(--string-color);
    text-decoration: underline;
}
