:root {
    --background-color: #282c34;
    --text-color: #abb2bf;
    --selection-background-color: #3e4451;
    --selection-text-color: #abb2bf;
    --comment-color: #5c6370;
    --keyword-color: #c678dd;
    --variable-color: #e06c75;
    --string-color: #98c379;
    --number-color: #d19a66;
    --function-color: #61afef;
}
