body {
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--background-color);
    font-family: "Fira Code", monospace;
    color: #fff;
}

::selection {
    background-color: var(--selection-background-color);
}

#modalDicas {
    color: var(--background-color);
}

#btnDicas {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
