#containerTextos {
    max-width: 1200px !important;
    margin: auto;
    min-height: 80vh;
    padding-top: 20vh;
}

@media (max-width: 1200px) {
    #containerTextos {
        padding-left: 20px;
        padding-right: 20px;
    }
}

#containerTextos #headlines h3 {
    margin: 0;
    padding: 0;
    color: #fff6;
}

#containerTextos #headlines h3:first-child {
    color: #fff;
}

#containerTextos #paragrafo {
    font-size: 22px;
    color: var(--string-color);
}

#containerTextos button {
    width: fit-content;
    margin-left: auto;
}
