<link rel="stylesheet" href="/desafios/binario/binario.css" />

<div id="viewBinario">
    <div class="d-flex justify-content-center mt-2">
        <div id="divPortaEletronica">
            <input
                type="text"
                id="inputCodigo"
                autocomplete="off"
                maxlength="4"
            />
            <button id="btnUnlockDoor" class="btn btn-outline-dark" disabled>
                Abrir
            </button>
        </div>
        <div id="divJanelas" class="d-flex flex-column">
            <img
                id="imgJanelas"
                src="/assets/img/janelas.svg"
                alt=""
                srcset=""
            />
            <img
                id="imgManualBinario"
                src="/assets/img/manual-binario.svg"
                alt=""
                srcset=""
            />
        </div>
    </div>
</div>

<script type="module">
    import { carregarBinario } from "/desafios/binario/binario.js";

    carregarBinario();
</script>
