#viewBinario #divPortaEletronica {
    height: 540px;
    width: 590px;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-image: url("/assets/img/porta-eletronica-4.svg");
    margin-right: 50px;
}

#viewBinario #divPortaEletronica #inputCodigo {
    width: 100px;
    display: flex;
    position: relative;
    top: 72px;
    right: 112px;
    font-size: 32px;
    background: none;
    border: none;
    outline: none;
    color: var(--string-color);
    font-weight: bold;
    text-transform: uppercase;
}

#viewBinario #divPortaEletronica #btnUnlockDoor {
    width: 225px;
    position: relative;
    top: 88px;
    right: 55px;
    font-weight: bold;
}

#viewBinario #divJanelas #imgJanelas {
    height: 300px;
}
#viewBinario #divJanelas #imgManualBinario {
    height: 100px;
}
