<link rel="stylesheet" href="/desafios/cifra-cesar/cifra-cesar.css" />

<div id="viewCifraCesar">
    <div class="d-flex justify-content-center mt-2">
        <div id="divPortaEletronica">
            <input type="text" id="inputCodigoPorta" autocomplete="off" />
            <button id="btnUnlockDoor" class="btn btn-outline-dark" disabled>
                Abrir
            </button>
        </div>
        <div
            id="containerRodaCifraCesar"
            class="d-flex flex-column align-items-center"
        >
            <div class="d-flex align-items-center">
                <input
                    id="sliderRodaCifraCesar"
                    type="range"
                    min="-12"
                    max="13"
                    value="0"
                    class="slider"
                />
                <span id="spanValorSlider" class="fw-bold ms-2">0</span>
            </div>
            <div id="imgCifraCesar">
                <img
                    id="imgCifraCesarCentro"
                    src="/assets/img/cesar-centro-crop.png"
                    alt=""
                    srcset=""
                />
            </div>
        </div>
    </div>
</div>

<script type="module">
    import { carregarCifraCesar } from "/desafios/cifra-cesar/cifra-cesar.js";

    carregarCifraCesar();
</script>
