#viewCifraCesar #divPortaEletronica {
    height: 540px;
    width: 590px;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-image: url("/assets/img/porta-eletronica-1.svg");
    margin-right: 50px;
}

#viewCifraCesar #divPortaEletronica #inputCodigoPorta {
    width: 185px;
    display: flex;
    position: relative;
    top: 76px;
    right: 71px;
    background: none;
    border: none;
    outline: none;
    color: var(--string-color);
    font-weight: bold;
    text-transform: uppercase;
}

#viewCifraCesar #divPortaEletronica #btnUnlockDoor {
    width: 225px;
    position: relative;
    top: 123px;
    right: 30px;
    font-weight: bold;
}

#viewCifraCesar #containerRodaCifraCesar #sliderRodaCifraCesar {
    width: 300px;
    margin: 10px 0;
}

#viewCifraCesar #containerRodaCifraCesar #spanValorSlider {
    width: 30px;
    text-align: end;
}

#viewCifraCesar #containerRodaCifraCesar #imgCifraCesar {
    background-image: url("/assets/img/cesar.png");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 450px;
    width: 450px;
}

#viewCifraCesar #containerRodaCifraCesar #imgCifraCesar img {
    height: 328px;
    width: 328px;
}
