<link rel="stylesheet" href="/desafios/codigo-morse/codigo-morse.css" />

<div id="viewCodigoMorse" class="mt-2 d-flex justify-content-center">
    <div id="divPortaEletronica">
        <div id="light" style="background-color: #353535"></div>
        <input id="inputCodigo" type="text" autocomplete="off" />
        <div id="btnUnlockDoor" class="btn btn-outline-dark" disabled>
            Abrir
        </div>
    </div>
    <div id="divManual">
        <div id="outputCodigoMorse"></div>
        <img src="/assets/img/manual-morse.png" alt="" srcset="" />
    </div>
</div>

<script type="module">
    import { carregarCodigoMorse } from "/desafios/codigo-morse/codigo-morse.js";

    carregarCodigoMorse();
</script>
