#viewCodigoMorse #divPortaEletronica {
    height: 540px;
    width: 590px;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-image: url("/assets/img/porta-eletronica-3.svg");
    margin-right: 50px;
}

#viewCodigoMorse #divPortaEletronica #light {
    position: relative;
    top: 36px;
    right: 52px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

#viewCodigoMorse #divPortaEletronica #inputCodigo {
    position: relative;
    top: 60px;
    right: 52px;
    width: 315px;
    font-size: 18px;
    background: none;
    border: none;
    outline: none;
    color: var(--string-color);
    font-weight: bold;
    text-transform: uppercase;
}

#viewCodigoMorse #divPortaEletronica #btnUnlockDoor {
    position: relative;
    top: 90px;
    right: 52px;
    width: 315px;
}

#viewCodigoMorse #divManual #outputCodigoMorse {
    min-height: 72px;
    font-variant-ligatures: none;
}
