#viewLabirinto #containerLabirinto .linha {
    display: flex;
    flex-direction: row;
}

/* media screen > 1366 */
@media screen and (min-width: 900px) {
    #viewLabirinto {
        margin-top: 15px;
        display: flex;
        justify-content: center;
    }

    #viewLabirinto #containerLabirinto {
        background-color: #2f2f2f;
    }

    #viewLabirinto #containerLabirinto .linha .casa {
        height: 5vh;
        width: 5vh;
        min-height: 5vh;
        min-width: 5vh;
    }

    #viewLabirinto #containerComandos {
        display: flex;
        flex-direction: column;
        width: 400px;
        max-height: 75vh !important;
        border-radius: 0 5px 5px 0;

        background-color: #fff2;
    }

    #viewLabirinto #containerComandos ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    #viewLabirinto #containerComandos #comandosDisponiveis li {
        background-color: #fff2;
        padding: 5px 20px;
        border-radius: 4px;
        cursor: pointer;
    }
    #viewLabirinto #containerComandos #comandosDisponiveis li:hover {
        background-color: #fff3;
    }

    #viewLabirinto #containerComandos #comandosDisponiveis li:not(:last-child) {
        margin-bottom: 4px;
    }

    #viewLabirinto #containerComandos #containerComandosAdicionados {
        height: 100%;
        width: 100%;
        max-height: calc(75vh - 211px);
    }

    #viewLabirinto
        #containerComandos
        #containerComandosAdicionados
        #comandosAdicionados {
        background-color: #fff2;
        overflow-y: auto;
        height: calc(100% - 20px);
        padding: 5px 10px;
        border-radius: 4px;
    }

    #viewLabirinto #containerLabirinto .linha .casa .robo {
        height: 5vh;
        width: auto;
    }

    #viewLabirinto #containerLabirinto .linha .casa .cartao {
        width: 5vh;
        padding: 2px;
    }
}

#viewLabirinto #containerLabirinto .linha .casa {
    display: flex;
    align-items: center;
    justify-content: center;
}

#viewLabirinto #containerLabirinto .linha .casa.parede {
    background-color: var(--text-color);
}

#viewLabirinto #containerLabirinto .linha .casa .fa-circle {
    color: #fff2;
    font-size: 5px;
}

#viewLabirinto
    #containerComandos
    #containerComandosAdicionados
    #comandosAdicionados
    .comando:not(:last-child) {
    margin-bottom: 5px;
}

#viewLabirinto
    #containerComandos
    #containerComandosAdicionados
    #comandosAdicionados
    .comando
    input {
    width: 30px;
    outline: none;
    font-family: inherit;
}

#viewLabirinto
    #containerComandos
    #containerComandosAdicionados
    #comandosAdicionados
    .comando
    .btn-outline-secondary {
    color: #fff !important;
    font-weight: bold !important;
}

#viewLabirinto
    #containerComandos
    #containerComandosAdicionados
    #comandosAdicionados
    .comando
    .fa-times {
    cursor: pointer;
}

#btnExitViewLabirinto {
    font-weight: bold;
}
