<link rel="stylesheet" href="/desafios/labirinto/labirinto.css" />

<div class="d-flex justify-content-center">
    <button
        id="btnExitViewLabirinto"
        class="btn btn-outline-success mt-1"
        style="display: none"
    >
        <i class="fas fa-door-closed me-1"></i>
        <i class="far fa-credit-card me-2"></i>
        Abrir a porta com o cartão
    </button>
</div>
<div id="viewLabirinto">
    <div id="containerLabirinto"></div>
    <div id="containerComandos">
        <ul id="comandosDisponiveis" class="p-2">
            <li class="d-flex align-items-center" id="btnComandoUp">
                <i class="fas fa-arrow-up me-2"></i
                ><span class="d-block w-100 text-center">Para Cima</span>
            </li>
            <li class="d-flex align-items-center" id="btnComandoDown">
                <i class="fas fa-arrow-down me-2"></i
                ><span class="d-block w-100 text-center">Para Baixo</span>
            </li>
            <li class="d-flex align-items-center" id="btnComandoLeft">
                <i class="fas fa-arrow-left me-2"></i
                ><span class="d-block w-100 text-center">Para a Esquerda</span>
            </li>
            <li class="d-flex align-items-center" id="btnComandoRight">
                <i class="fas fa-arrow-right me-2"></i
                ><span class="d-block w-100 text-center">Para a Direita</span>
            </li>
        </ul>
        <div id="containerComandosAdicionados" class="py-1 px-2">
            <span class="d-block">Programação do robô</span>
            <ul id="comandosAdicionados"></ul>
        </div>
        <button id="btnExecutar" class="btn btn-sm btn-outline-light m-2">
            Executar <i class="fas fa-play"></i>
        </button>
    </div>
</div>

<script type="module">
    import { carregarLabirinto } from "/desafios/labirinto/labirinto.js";

    carregarLabirinto();
</script>
